@import "tailwindcss";

/* :root {
    background-color: rgb(48, 48, 48);
} */


@layer base {
  html,
  body {
    @apply m-0 p-0 bg-[#65080F];
  }

  #root {
    @apply min-h-screen bg-[#65080F];
  }
}